body {

    background-color: #d5d5d5;
    font: normal 10pt Arial;
}

section {

    background-color: #d5d5d59c;
    border-radius: 15px;
    width: 825px;
    margin: auto;
    padding: 5px;
    border: 5px solid;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.473);

    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

div#header {

    background-image: url(LOGO\ CAESA\ 56x56.png);
    background-position: left;
    background-repeat: no-repeat;
    background-color: #29166F;
    color: #fff;
    width: 90%;
    height: 56px;
    margin: 0px 10px;
    padding: 0px 5px;
    
    border: 5px solid #F1A700;
    border-radius: 5px;
}

div#header > h1 {
    width: auto;
    margin: 5px;
    text-align: center;
}

div#caesa {

    margin-top: 20px;
}

div#principal {

    background-color: white;
    width: 90%;
    margin: 10px 10px;
    padding: 0px 5px;
    
    border: 1px solid black;
    border-radius: 5px;

    display: flex;
    flex-flow: row wrap;
}

div#principal > p {

    width: 100%;
    margin: 10px 10px;
    padding: 0px 5px;
    text-align: center;
}

div#dados {

    width: 40%;
    height: 119px;
    /* border: 1px solid black; */

    display: flex;
    flex-flow: column wrap-reverse;

    justify-content: center;

}

div#dados > p {

    margin: 5px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between

}

div#sugestao {

    width: 60%;
    height: 119px;
    /* border: 1px solid black; */

    display: flex;
    flex-flow: column wrap-reverse;

    justify-content: center;
    align-items: center;
}

#sugestao > iframe {
    width: 400px;
    height: 110px;
    margin: auto;
}

/*
div#sugestao > a {
    background-color: rgb(153, 71, 71);
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}
*/

div#calculado {

    background-color: white;
    width: 90%;
    margin: 10px 10px;
    padding: 0px 5px;

    border: 1px solid black;
    border-radius: 5px;

    display: flex;
    flex-flow: row wrap;
}

div#calculado > ul {

    width: 90%;
    margin: 10px auto;
    padding: 0px 5px;
    line-height: 23px;
}

div#calculado > p {

    width: 90%;
    margin: 5px auto;
}

p#mater {
    
    display: flex;
    justify-content: center;
}

p#mater > label {
    font: normal 10pt Arial;
}

div#principal > p {

    margin: 5px; 

}

label {

    font-size: 1.15em;
}

input[type=text] {

    width: 150px;
    border-radius: 5px;
    text-align: center;
}

input[type=number]#qtde {

    width: 70px;
    border-radius: 5px;
    text-align: center;
}

input[type=number] {

    width: 100px;
    border-radius: 5px;
}

input[type=button] {

    width: 125px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    background-color: lightgray;
}

input[type=button]:hover {

    background-color: black;
    color: white;
}

h3 {

    width: 100%;
    margin: 5px;
    display: flex;
    justify-content: center;
}

h4 {

    width: 100%;
    margin: auto;
    text-align: center;
    
}

div#limpar {

    width: 80%;
    text-align: center;
    margin: 10px 0px 0px 0px;
}

/*
div#lista {
    width: 790px;
    margin: auto;
}
*/

#lista-resultados > li {
    border-bottom: 1px solid black;
    list-style-type: none;
}

div#ia {

    background-color: #29166F;
    width: 100px;
    margin: 10px auto;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    
}

div#ia > a {

    color: white;
    text-decoration: none;
    cursor: pointer;
}

footer {
    
    text-align: center;
    font-style: italic;
}